$_lg: 1024px;
$_md: 768px;
$_se: 375px;

$headingFont: 'Bebas Neue', sans-serif;
$bodyFont: 'Poppins', sans-serif;

$primary: #3F8EBF;
$secondary: #16808C;
$tertiary: #B3E0F2;
$ascent1: #16808C;
$accent2: #44A6A6;
$white: #FFFFFF;
$black: #2D2633;
$test: #FF0000;
$focus: #3F8EBF;
$hover: #3F8EBF;
$scrollThumb: #3F8EBF;
$scrollBG: #F5F5F5;
$sectionHeadingCaptionBG: #FFFFFF40;
$workCardBG: #2D263375;
$workCardHoveredBG: #2D263320;
$dateText: #A9A9A9;
$selectedExperienceBG: #E5E4E240;
$unselectedSkillNameBG: #D3D3D3;
$unsellectedSkillDescBG: #E5E4E2;
$timelineDot: #808080;
$timelineLine: #808080;
$inputBorder: #2D2633;
$focusedInputBorder: #808080;
$modalContainerBG: #2D263340;
$modalBG: #FFFFFF;
$close: #F23E2E;
$modalBorder: #E5E4E240;
$coloredSectionBG: #E5E4E240;
$imageBorder: #E5E4E2;
$error: #F23E2E;
$success: #44A6A6;

$blackText: #2D2633;
$whiteText: #FFFFFF;